@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 50px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}

input:hover + .slider {
  background-color: hsl(174deg, 86%, 45%);
}

input:checked + .slider {
  background-color: hsl(174deg, 86%, 45%);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  background-image: url(../images/pattern-circles.svg), url(../images/bg-pattern.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center top 5%, left top;
  padding-top: 3rem;
  color: hsl(225deg, 20%, 60%);
  font-size: 0.8rem;
  min-width: 375px;
}
.container .heading .heading-main {
  font-weight: 800;
  font-size: 1.25rem;
  padding-top: 2rem;
  color: hsl(227deg, 35%, 25%);
}
.container .heading .heading-text {
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0.5rem 8rem;
  line-height: 1.75;
}
.container .card {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1rem;
  margin: 4rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (min-width: 1024px) {
  .container .card .css-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "pageview price" "inputrange inputrange";
  }
}
.container .card .page-views {
  padding: 2rem 0 0 0;
  grid-area: pageview;
}
.container .card .input-range {
  grid-area: inputrange;
}
.container .card #input {
  margin: 1.5rem auto;
  -webkit-appearance: none;
  width: 90%;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, hsl(174deg, 77%, 80%) 50%, hsl(224deg, 65%, 95%) 50%);
  opacity: 0.7;
  transition: opacity 0.2s;
}
.container .card #input:hover {
  opacity: 1;
}
.container .card #input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: hsl(174deg, 86%, 45%);
  border: none;
  border-radius: 50%;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 30px hsl(174deg, 86%, 45%);
  cursor: pointer;
}
.container .card #input::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background-color: hsl(174deg, 86%, 45%);
  border: none;
  border-radius: 50%;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 30px hsl(174deg, 86%, 45%);
  cursor: pointer;
}
.container .card .price {
  padding: 0 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: price;
}
@media (min-width: 1024px) {
  .container .card .price {
    padding-top: 1.25rem;
  }
}
.container .card #price {
  color: hsl(227deg, 35%, 25%);
  font-weight: 800;
  font-size: 2rem;
  padding-right: 1rem;
}
.container .card .billing {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card .billing span {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.container .card .billing .monthly-billing {
  padding-right: 1rem;
}
.container .card .billing .discount {
  background-color: hsl(14deg, 92%, 95%);
  color: hsl(15deg, 100%, 70%);
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem 0 0;
  border-radius: 2rem;
}
@media (min-width: 1024px) {
  .container .card .billing .mobile {
    display: none;
  }
}
.container .card .billing .desktop {
  display: none;
}
@media (min-width: 1024px) {
  .container .card .billing .desktop {
    display: block;
  }
}
@media (min-width: 1024px) {
  .container .card .features-start-trial {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.container .card .features-start-trial .features {
  margin: 2rem 0;
  list-style-image: url(../images/icon-check.svg);
  list-style-position: inside;
  padding-left: 0;
}
.container .card .features-start-trial .features li {
  margin: 1rem 0;
  text-align: center;
}
@media (min-width: 1024px) {
  .container .card .features-start-trial .features li {
    text-align: left;
  }
}

hr {
  border-color: hsl(225deg, 20%, 60%);
  border-style: solid;
  border-width: 1px;
}

a {
  cursor: pointer;
  margin-bottom: 2rem;
  padding: 0.75rem 3rem;
  border-radius: 2rem;
  text-decoration: none;
  background-color: hsl(227deg, 35%, 25%);
  display: inline-block;
  color: hsl(226deg, 100%, 87%);
}
@media (min-width: 1024px) {
  a {
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0;
  }
}/*# sourceMappingURL=style.css.map */